<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fnny.testapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/loggan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MENUActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".statistik"
            android:label="@string/title_activity_statistik" >
        </activity>
        <activity
            android:name=".KaffeKort"
            android:label="@string/title_activity_kaffe_kort" >
        </activity>
        <activity
            android:name=".Hittahit"
            android:label="@string/title_activity_hittahit" >
        </activity>
        <activity
            android:name=".Oppetider"
            android:label="@string/title_activity_oppetider" >
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
